:root {
  --blue: #0065FC;
  --light-blue: #DEEBFF;
  --grey: #F2F2F2;
  --dark: #000;
  --white: #FFF;
}

* {
  font-family: Raleway, Arial, Helvetica, sans-serif;
}

body {
  margin: auto;
  max-width: 1400px;
}

main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 30px;
  margin: 40px 0 60px 0;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 60px;
  height: 20px;
}

ul {
  padding: 0;
}

nav ul {
  display: flex;
  flex-direction: row;
  margin: 0;
}

li {
  display: block;
}

nav li {
  border-top: 3px solid transparent;
  padding: 40px 30px;
}

footer li {
  line-height: 1.9em;
}

nav li:hover,
nav li:focus {
  border-top: 3px solid var(--blue);
  padding: 40px 30px;
  color: var(--blue);
}

a {
  text-decoration: none;
}

p,
h1, 
h2, 
h3, 
li, 
a {
  color: var(--dark);
}

p, 
h2, 
h3 {
  margin: 0.5em 0;
}

p,
li,
a {
  font-size: 16px;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 40px 60px 30px 60px;
  background-color: var(--grey);
}

figcaption > figure {
  margin: 0;
}

figcaption > figure i {
  color: var(--blue);
}

form {
  margin: 15px 0;
}

input[type="search"] {
  float: left;
  border-top: 1px solid var(--grey);
  border-bottom: 1px solid var(--grey);
  border-left: none;
  border-right: none;
  padding: 12px 0 12px 10px;
}

input[type="button"] {
  border: 1px solid var(--grey);
  border-radius: 0 15px 15px 0;
  padding: 13px 10px;
  font-size: 1em;
  font-weight: 500;
  background-color: var(--blue);
  color: var(--white);
}

button {
  border-style: none;
  border: 2px solid var(--grey);
  border-radius: 30px;
  padding: 12px 15px;
  background-color: var(--white);
  width: 100%;
}

button, 
input[type="search"],
input[type="button"] {
    font-size: 1em;
    font-weight: 600;
}

button:hover,
button:focus {
  background-color: var(--light-blue);
}

button i,
.fa-info {
  color: var(--blue);
  margin-right: 8px;
}

.fa-info {
  border: 1px solid var(--grey);
  border-radius: 120px;
  padding: 4px 8px;
}

.filters {
  display: flex;
  flex-direction: column;
}

.filters div  {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
}

.filters ul {
  display: flex;
  gap: 40px;
}

.fa-magnifying-glass {
  display: none;
}

.hosting {
  border-radius: 20px;
  padding: 40px;
  background-color: var(--grey);
}

.grid-hosting {
  grid-column: 1 / 2;
}

.hosting ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin: 25px 0 50px 0;
}

.hosting img {
  border-radius: 20px 20px 0 0;
  width: 100%;
  max-height: 120px;
  height: auto;
  object-fit: cover;
}

.card-hosting {
  margin: 0;
  border-radius: 20px;
  padding: 6px;
  background-color: var(--white);
  box-shadow: 0 10px 20px rgb(242, 242, 242, 0.8);
}

.popular {
  border-radius: 20px;
  padding: 40px;
  background-color: var(--grey);
}

.grid-popular {
  grid-column: 2 / 3;
}

.popular header {
  display: flex;
  justify-content: space-between;
}

.card-popular {
  display: flex;
  margin: 0 0 30px 0;
  border-radius: 20px;
  padding: 6px;
  background-color: var(--white);
  box-shadow: 0px 20px 10px rgb(242, 242, 242, 0.8);
}

.popular img {
  border-radius: 20px 0 0 20px;
  width: 130px;
  max-width: 100%;
  height: 140px;
  object-fit: cover;
}

.card-popular figcaption {
  position: relative;
  padding: 0 10px 4px 10px;
}

.stars-popular {
  position: absolute;
  bottom: 6px;
}

.fa-star:nth-last-child(1) {
    color: var(--grey);
}

.fa-chart-line {
  color: var(--blue);
}

.activity {
  margin-bottom: 60px;
}

.grid-activity {
  grid-column: 1 / 5;
}

.activity ul {
  display: grid;
  margin: 25px 0 80px 0;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 40px;
}

.activity img {
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 360px;
  object-fit: cover;
}

.activity figure {
  margin: 0;
  border-radius: 0 0 20px 20px;
  box-shadow: 0px 20px 10px rgb(242, 242, 242, 0.8)
}

.activity figcaption {
  padding: 20px 20px 20px 15px ;
  font-size: 1.2em;
  font-weight: bold;
  color: var(--dark);
}

.fa-location-dot {
  float: left;
  border: 1px solid var(--grey);
  border-radius: 15px 0 0 15px;
  padding: 13px;
  background-color: var(--grey);
}

/******** tablet *********/
@media screen and (max-width: 991px ) {

  body {
    margin: auto;
    width: 90%;
  }

  main {
    display: flex;
    flex-direction: column;
  }

  button:hover,
  button:focus {
    background-color: var(--light-blue);
  }

  input[type="button"] {
    padding: 13px 14px;
  }

  input[type="search"] {
    padding: 12px 15px;
  }

  button i {
    margin-right: 6px;
  }

  .filters div  {
    gap: 20px;
  }

  .filters ul {
    gap: 20px;
  }

  .hosting, 
  .popular {
    padding: 30px;
  }

  .hosting ul {
    margin: 25px 0 25px 0;
  }

  .card-hosting {
    padding: 6px 6px 10px 6px;
    height: 220px;
  }

  .card-popular {
    margin: 0;
  }

  .popular ul li,
  .hosting img {
    width: 100%;
  }

  .popular img {
    width: 40%;
  }

  .card-popular figcaption {
    width: 60%;
  }

  .popular header {
    align-items: center;
  }

  .popular ul {
    display: flex;
    margin: 15px 0 0 0;
    gap: 25px;
  }

  .activity ul {
    margin: 20px 0 80px 0;
    gap: h0px;
  }

  .activity img {
    height: 250px;
  }

  .activity figcaption {
    padding: 15px;
    font-size: initial;
  }

  .fa-solid {
    font-weight: 600;
  }
}

/******** mobile *********/
@media screen and ( max-width: 767px ) {
    
  body {
    width: 100%;
  }

  main {
    flex-direction: column-reverse;
  }

  nav {
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
    gap: 20px;
  }

  nav ul {
    display: flex;
    align-content: center;
    padding-top: 30px;
    white-space: initial;
    width: 100%;
  }

  nav li {
    border-top: none;
    border-bottom: 3px solid transparent;
    padding: 0 0 20px 0;
    width: 100%;
    text-align: center;
  }
  
  nav li:hover,
  nav li:focus {
    border-top: none;
    border-bottom: 3px solid var(--blue);
    padding: 0 0 20px 0;
    color: var(--blue);
  }

  form {
    display: flex;
    margin-top: 30px;
    justify-content: center;
  }

  input[type="search"] {
    padding: 10px;
    width: 100%;
    max-width: max-content; 
  }

  input[type="button"] {
    display: none;
  }

  button:hover,
  button:focus {
    background-color: var(--light-blue); 
  }

  button {
    margin: 0;
    padding: 13px 10px;
    text-align: left;
    min-width: 180px;
    font-size: 0.9em;
  }

  footer {
    flex-direction: column;
    padding: 40px 30px 30px 30px;
  }

  .search {
    padding: 0 20px;
  }

  .fa-magnifying-glass {
    display: initial;
    float: left;
    border-radius: 0 15px 15px 0;
    padding: 11px 15px;
    background-color: var(--blue);
    color: var(--white);
  }

  .filters {
    margin-top: 30px;
    padding: 0 20px;
  }

  .filters div  {
    display: initial;
  }

  .filters ul {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
  }

  .filters p {
    display: flex;
    justify-content: center;
  }

  .popular ul {
    flex-direction: column;
  }

  .popular {
    padding: 20px;
    border-radius: initial;
  }

  .hosting {
    padding: 0 20px;
    background-color: initial;
  }

  .hosting ul{
    display: grid;
    grid-template-columns: 1fr;
  }

  .card-popular figcaption {
    padding: 0 20px 4px 20px;
  }

  .hosting > a {
    display: none;
  }

  .activity {
    margin: 80px 0;
    padding: 0 20px;
  }

  .activity ul {
    grid-template-columns: 1fr;
  }

  .activity img {
    height: 180px;
  }
}